<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AttendController</servlet-name>
        <servlet-class>controller.AttendController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleController</servlet-name>
        <servlet-class>controller.ScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceRecordController</servlet-name>
        <servlet-class>controller.AttendanceRecordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureSessionListController</servlet-name>
        <servlet-class>controller.LectureSessionListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudentAttendController</servlet-name>
        <servlet-class>controller.ViewStudentAttendController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttendController</servlet-name>
        <url-pattern>/attend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleController</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceRecordController</servlet-name>
        <url-pattern>/attendrecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectureSessionListController</servlet-name>
        <url-pattern>/lecses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudentAttendController</servlet-name>
        <url-pattern>/stuattend</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
